@if (!showPreview) {
  
<div class="form-side">
  <form 
    [formGroup]="announcementForm" 
    (ngSubmit)="submit()">

    <div class="form-grid">
      
      <!-- LEFT SIDE -->
      <div class="form-column-left">
        
        <div class="form-group">
          <label>Type d'annonce</label>
         <select formControlName="type">
  <option value="">-- Sélectionner --</option>
  <option value="investment">Investissement</option>
  <option value="collaboration">Collaboration</option>
  <option value="tourism">Tourisme</option>
</select>
        </div>

        <div class="form-group">
          <label>Titre</label>
          <input type="text" formControlName="title">
          @if (
            announcementForm.get('title')?.invalid &&
            announcementForm.get('title')?.touched
          ) {
            @if (announcementForm.get('title')?.errors?.['required']) {
              <small>Le titre est obligatoire.</small>
            }
            @if (announcementForm.get('title')?.errors?.['minlength']) {
              <small>Minimum 3 caractères.</small>
            }
          }
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea formControlName="description"></textarea>
          @if (
            announcementForm.get('description')?.invalid &&
            announcementForm.get('description')?.touched
          ) {
            @if (announcementForm.get('description')?.errors?.['required']) {
              <small>Description obligatoire.</small>
            }
            @if (announcementForm.get('description')?.errors?.['minlength']) {
              <small>Minimum 10 caractères.</small>
            }
          }
        </div>

        <div class="form-group">
          <label>Secteur</label>
          <input type="text" formControlName="sector">
          @if (
            announcementForm.get('sector')?.invalid &&
            announcementForm.get('sector')?.touched
          ) {
            <small>Le secteur est obligatoire.</small>
          }
        </div>

        <!-- Dynamic fields for LEFT side -->
        @if (selectedType === 'investment') {
          <div class="form-group">
            <label>Montant recherché</label>
            <input type="text" formControlName="amountSought">
             @if (
            announcementForm.get('amountSought')?.invalid &&
            announcementForm.get('amountSought')?.touched
          ) {
            @if (announcementForm.get('amountSought')?.errors?.['required']) {
              <small>Le montant recherché est obligatoire.</small>
            }
            @if (announcementForm.get('amountSought')?.errors?.['pattern']) {
              <small>Format invalide.</small>
            }
          }
          </div>
          

           <div class="form-group">
            <label>ROE estimé</label>
            <input type="text" formControlName="estimatedROI">
             @if (
            announcementForm.get('estimatedROI')?.invalid &&
            announcementForm.get('estimatedROI')?.touched
          ) {
            @if (announcementForm.get('estimatedROI')?.errors?.['required']) {
              <small>Le ROE estimé est obligatoire.</small>
            }
            @if (announcementForm.get('estimatedROI')?.errors?.['pattern']) {
              <small>Format invalide.</small>
            }
          }
          </div>
           <div class="form-group">
            <label>Durée du projet</label>
            <input type="text" formControlName="projectDuration">
             @if (
            announcementForm.get('projectDuration')?.invalid &&
            announcementForm.get('projectDuration')?.touched
          ) {
            @if (announcementForm.get('projectDuration')?.errors?.['required']) {
              <small>La durée du projet est obligatoire.</small>
            }
          }
          </div>
        }

        @if (selectedType === 'collaboration') {
          <div class="form-group">
            <label>Type de collaboration</label>
          <select class="form-group" formControlName="collaborationType">
             <option>Partenariat</option>
             <option>Prestataire</option>
             <option>Co-investissement</option>
          </select>
           @if (
            announcementForm.get('collaborationType')?.invalid &&
            announcementForm.get('collaborationType')?.touched
          ) {
            @if (announcementForm.get('collaborationType')?.errors?.['required']) {
              <small>Le type de collaboration est obligatoire.</small>
            }
          }
          </div>


           <div class="form-group">
            <label>Profil requis</label>
            <input type="text" formControlName="profileSought">

             @if (
            announcementForm.get('profileSought')?.invalid &&
            announcementForm.get('profileSought')?.touched
          ) {
            @if (announcementForm.get('profileSought')?.errors?.['required']) {
              <small>Le profil requis est obligatoire.</small>
            }
            @if (announcementForm.get('profileSought')?.errors?.['minlength']) {
              <small>Minimum 3 caractères.</small>
            }
          }
          </div>
        }

        @if (selectedType === 'tourism') {
          <div class="form-group">
            <label>Type de projet touristique</label>
            <input type="text" formControlName="tourismProjectType">
              @if (
            announcementForm.get('tourismProjectType')?.invalid &&
            announcementForm.get('tourismProjectType')?.touched
          ) {
            @if (announcementForm.get('tourismProjectType')?.errors?.['required']) {
              <small>Le type de projet touristique est obligatoire.</small>
            }
          }
          </div>

          <div class="form-group">
            <label>Capacité</label>
            <input type="text" formControlName="capacity">
              @if (
            announcementForm.get('capacity')?.invalid &&
            announcementForm.get('capacity')?.touched
          ) {
            @if (announcementForm.get('capacity')?.errors?.['required']) {
              <small>La capacité est obligatoire.</small>
            }
            @if (announcementForm.get('capacity')?.errors?.['pattern']) {
              <small>Format invalide.</small>
            }
          }
          </div>
        }

      </div>

      <!-- RIGHT SIDE -->
      <div class="form-column-right">
        
        <div class="form-group">
          <label>Région</label>
          <input type="text" formControlName="region">
          @if (
            announcementForm.get('region')?.invalid &&
            announcementForm.get('region')?.touched
          ) {
            <small>La région est obligatoire.</small>
          }
        </div>

        <div class="form-group">
          <label>Contact</label>
          <input type="text" formControlName="contact">
          @if (
            announcementForm.get('contact')?.invalid &&
            announcementForm.get('contact')?.touched
          ) {
            @if (announcementForm.get('contact')?.errors?.['required']) {
              <small>Le contact est obligatoire.</small>
            }
            @if (announcementForm.get('contact')?.errors?.['pattern']) {
              <small>Numéro invalide (8 chiffres).</small>
            }
          }
        </div>

        <div class="form-group">
          <label>Pièces jointes</label>
          <input 
            type="file"
            multiple
            (change)="onFileSelected($event)"
          >

          @if (selectedFiles.length > 0) {
            <h3>Aperçu des fichiers</h3>

            @for (file of selectedFiles; track file.name) {
              <div class="file-preview-item">
                <p>{{ file.name }}</p>

                @if(file.type.startsWith('image')) {
                  <img 
                    [src]="getFilePreview(file)"
                    width="150">
                }

                @if(file.type === 'application/pdf') {
                  <iframe
                    [src]="getFilePreview(file)"
                    width="100%"
                    height="300">
                  </iframe>
                }
              </div>
            }
          }
        </div>

      </div>

    </div>

    <!-- BUTTONS -->
    <div class="form-actions">
      <button
  type="button"
  class="draft-btn"
  (click)="saveDraft()">
  Sauvegarder en brouillon
</button>
    
      <button type="button" class="btn-preview" (click)="showFormPreview()">
        Aperçu
      </button>
    </div>

  </form>
</div>

}

@if (showPreview) {

 <app-announcement-preview
  [announcement]="announcementForm.value"
  [selectedFiles]="selectedFiles"
  (back)="editForm()"
  (submit)="submit()">
</app-announcement-preview>
}